*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #1f1f1f;
    height: 100vh;
}

/*Entire screen*/
.screen-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*Console*/
.console{
    box-shadow: 6px 6px 8px black;
    transform: scale(1.2);
}

/*Console top bar*/
.console-top-bar{
    position: relative;
    background-color: #000080;
    border: solid 3px #C0C0C0;
    width: 30rem;
    height: 1rem;
}

/*MSDOS Icon*/
.msdos{
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url(/icons/msdos.png);
    background-size: cover;
}

/*Wraps Minimize Maximize and Close Options in top bar*/
.console-options{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: #000080;
}

/*Minimize Maximize and Close options in top-bar*/
.each-option{
    display: flex;
    width: 0.9rem;
    height: 11px;
    background-color:#C0C0C0;
    border: solid 1px black;
}

#minimize{
    background-position: center;
    background-image: url(/icons/minimize.png);
}

#maximize{
    margin-right:3px;
    background-position: center;
    background-image: url(/icons/maximize.png);
}

#close{
    margin-right: 2px;
    background-position: center;
    background-image: url(/icons/close.png);
}

.each-option:active{
    transform: translateX(0.5px) translateY(0.5px);
}

/*Center part of console*/
.center-console{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
    background-color: black;
    border: solid 3px #C0C0C0;
    cursor:text;
}

/*TODO: CHANGE THIS TYPE OF INPUT IN HTML TO A NORMAL TEXT*/
/*Editable text box*/
#cmd{
    display: flex;
    text-align: start;
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin-right: 2px;
    border: transparent;
    color: #C0C0C0;
    font-size: 11px;
    background-color: transparent;
    align-items: center;
}

#cmd:focus{
    outline: none;
}

/*Top text in console*/
.text{
    margin-left:2px;
    margin-top: 12px;
    color:#C0C0C0;
    height: 0.5rem;
}

/*Directory Text wrap*/
.directory-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Text that shows user directory*/
.directory{
    margin-left: 2px;
}

/*Each line of animation*/
.line{
    width: 100%;
    height: 0.8rem;
    margin-left: 2px;
    font-size: 11px;
    color: #C0C0C0;
}

h5{
    font-size: 11px;
    font-weight: 100;
    color: #C0C0C0;
}


.close-error-wrap{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.close-error{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 380px;
    height: 170px;
    background-color: #C0C0C0;
    border: solid 2px #C0C0C0;
}

.close-top-error{
    width: 377px;
    height: 16px;
    background-color:#000080;
    border: solid 2px #C0C0C0;
}

.minimize-error-text{
    text-align: justify;
    font-size: 17px;
    font-weight: 100;
    padding: 15px 15px 15px 70px;
    
}


.buttons{
    display: flex;
    position:relative;
    width: 100%;
    
    justify-content: center;
}
.yes{
    width: 80px;
    height: 25px;
    margin-right: 5px;
    background-color: #C0C0C0;
}

.no{
    width: 80px;
    height: 25px;
    background-color: #C0C0C0;
}

.yes:focus{
    outline: none;
}

.no:focus{
    outline:none;
}

h4{
    font-weight: 100;
}

.alert-icon{
    position: fixed;
    margin-top: 37px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-image: url(/icons/Error.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.tab{
    margin-left: 30px;
}

.link{
    color:rgb(0, 0, 255);
    text-decoration: underline;
}



.maximized{
    transform: scale(1.6);
}

.minimized{
    transform: scale(1.2);
}

.finish-error-wrap{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.finish-error{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 380px;
    height: 170px;
    background-color: #C0C0C0;
    border: solid 2px #C0C0C0;
}

.finish-top-error{
    width: 377px;
    height: 16px;
    background-color:#000080;
    border: solid 2px #C0C0C0;
}

.minimize-finish-text{
    text-align: justify;
    font-size: 17px;
    font-weight: 100;
    padding: 15px 15px 15px 70px;
    
}

.alert-finish-icon{
    position: fixed;
    margin-top: 37px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-image: url(/icons/question.ico);
    background-repeat: no-repeat;
    background-size: cover;
}

.finish-buttons{
    display: flex;
    position:relative;
    width: 100%;
    
    justify-content: center;
}
.yes{
    width: 80px;
    height: 25px;
    margin-right: 5px;
    background-color: #C0C0C0;
}

.no{
    width: 80px;
    height: 25px;
    background-color: #C0C0C0;
}

.yes:focus{
    outline: none;
}

.no:focus{
    outline:none;
}


